<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>loans</title>
</head>
<body>
<div class="wrapper">
<header>
  <h1>Kalle</h1>
</header>
<main>
  <%= yield %>
</main>
<footer>
  <a href="#">en länk</a>
</footer>
</div>
</body>
</html>