
    <% 10.times do |num| %>
      <%= "HELLO WORLD" %>
    <% end %>
<form action="/students/find" method="post">
  <input type="text" name="student-id">
  <input type="submit" value="hitta">
</form>

