<a href="/elever_form">lägg till elev</a>
<a href="">updatera elev</a>
<a href="">läs om elev</a>


<form action="/elever_remove" method="POST">
<input type="submit" value="Ta bort följande elev:">
<input type="text" name="namn">
</form>