
    <table>
        <thead>
            <th>ID</th>
            <th>Namn</th>
            <th>Personnummer</th>
        </thead>
        <tbody>
            <tr>
                <td> <%= id_student %> </td>
                <td> <%= name %> </td>
                <td> <%= pnr %> </td>
            </tr>
        </tbody>
    </table>

<a href="/">Tillbaka</a>

