<div class="box">
<div class="left">
    <a href="/elever">Elever</a>
    <a href="/datorer">Datorer</a>
</div>
<div class="middle">
    <a href="/loans">sök med id</a>
    <a href="/loans2">sök med namn</a>
</div>
</div>