<h1> <%= greeting %> </h1>
<a href="/allaartister">Alla artister</a>
<a href="/enartist">En av de många artister</a>
<form action="/skapaartist" method="post">
    <input type="text" name="name">
    <input type="submit" value="skapa ny artist">
</form>
<a href="/allaalbum">Alla album</a>
<a href="/ettalbum">Ett album</a>

