 <table>
        <thead>
            <th>artist</th>
        </thead>
        <tbody>
            <tr> 
               <td> <%= namn %> </td>
            </tr>
        </tbody>
    </table>

<a href="/">Tillbaka</a>